@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Poppins, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.transparent-border {
  position: relative;
}

.transparent-border:before {
  content: "";
  position: absolute;
  pointer-events: none;
  inset: 0px;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(
          to bottom right,
          #dddddd 0%,
          #333333 33%,
          #555555 62%,
          #333333 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  transition: --c1 300ms ease, --c2 300ms ease, --c3 300ms ease;
}

.gradient-title {
  @apply bg-gradient-to-r pb-1 inline-block text-transparent bg-clip-text from-white to-primary-blue text-4xl font-semibold;
}

.gradient-border {
  position: relative;
}

.gradient-border:before {
  content: "";
  position: absolute;
  pointer-events: none;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(
          to bottom right,
          #dddddd 0%,
          #333333 33%,
          #555555 62%,
          #333333 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  transition: --c1 300ms ease, --c2 300ms ease, --c3 300ms ease;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}